{% load static wagtailuserbar %}
{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <title>
    {% block title %}
    {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% with self.get_site.site_name as site_name %}
    {% if site_name %}- {{ site_name }}{% endif %}
    {% endwith %}
    {% endblock %}
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {# App Icons #}
  {% comment %}
  <link rel="icon" href="{% static 'images/example.png' %}" sizes="192x192">
  <link rel="icon" href="{% static 'images/example.png' %}" sizes="32x32">
  {% endcomment %}
  {# Global stylesheets #}
  <link rel="stylesheet" href="{% static 'styles/app.css' %}" type="text/css" />
  <link rel="stylesheet">
  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
  {% wagtailuserbar %}
  <div class="main-grid grid grid-cols-1 lg:grid-cols-5">
    <div>
      {% block content %}{% endblock %}
    </div>
  </div>
  {# Global javascript #}
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  {% comment %} TODO: add back when vendor js is added
  <script type="text/javascript" src="{% static 'js/vendors.js' %}"></script>
  {% endcomment %}
  <div class="main col-span-4 p-10">
    {% block extra_js %}
    {# Override this in templates to add extra javascript #}
    {% endblock %}
  </div>
</body>

</html>
